<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.siyanhui.bqmm_demo" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MultipleModeActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity android:name=".MultipleShowActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ChooseModeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SingleModeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <activity
            android:name="com.melink.bqmmsdk.ui.store.EmojiPackageList"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" >
        </activity>

        <activity
            android:name="com.melink.bqmmsdk.ui.store.EmojiPackageDetail"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" >
        </activity>

        <activity
            android:name="com.melink.bqmmsdk.ui.store.EmojiPackageDown"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" >
        </activity>

        <activity
            android:name="com.melink.bqmmsdk.ui.store.EmojiPackageMyCollection"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" >
        </activity>

        <activity
            android:name="com.melink.bqmmsdk.ui.store.EmojiPackageSetting"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" >
        </activity>

        <activity
            android:name="com.melink.bqmmsdk.ui.store.EmojiDetail"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" >
        </activity>
    </application>

</manifest>
